<div class="sgin">
  <div class="title">
    <p>登录\注册</p>
  </div>
  <div class="content">
    <div class="title1">
      <span><%= link_to "登录", new_session_path(resource_name) %></span>
      <span style="background-color:#fff"><%= link_to "注册", new_registration_path(resource_name) %></span>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <div class="box">
          <%= f.input :email, required: false, autofocus: true, :placeholder => "用户名或邮箱" %>
          <%= f.input :password,  required: false, :placeholder => "密码" %>
          <%= f.input :remember_me, label:"记住账号",as: :boolean if devise_mapping.rememberable? %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "登录", :class => 'btn btn-primary btn-lg', :data_toggle => 'modal', :data_target => '#myModal'%>
      </div>
      <%= render "users/shared/links" %>
    <% end %>
  </div>
</div>
