<div class="sgin">
  <div class="title">
    <p>忘记密码?</p>
  </div>
  <div class="content">
    <div class="title1">
      <span><%= link_to "忘记密码", new_password_path(resource_name)%></span>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,label:"邮箱",required: true, autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "发送验证码" %>
      </div>
    <% end %>
  </div>
</div>
