<div class="sgin">
  <div class="title">
    <p>登录\注册</p>
  </div>
  <div class="content">
    <div class="title1">
      <span style="background-color:#fff"><%= link_to "登录", new_session_path(resource_name) %></span>
      <span><%= link_to "注册", new_registration_path(resource_name) %></span>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true, :placeholder => "用户名或邮箱" %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), :placeholder => "密码" %>
        <%= f.input :password_confirmation, required: true, :placeholder => "确认密码" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "注册" %>
      </div>
    <% end %>

  </div>
</div>
